body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #434455;
    background-color: #fff;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.main-header {
    background-color: #ffffff;
    border-bottom: 1px solid #e7e9fc;
}
a {
    text-decoration: none;
    font-family: inherit;
    color: inherit;
}
a:hover, 
a:active,
a:focus,
.nav-link.carrent 
{
    color: #404bbf;
    transition-duration: 250ms;
    transition-timing-function: ccubic-bezier(0.4, 0, 0.2, 1);
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1158px; 
    padding: 0 15px;  
    margin: 0 auto;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    font-family: "Raleway", sans-serif;
    color: #4d5ae5;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.heder-logo {
    padding: 24px 0;
    margin-right: 76px;
}
.logo-text {
    font-family: "Raleway", sans-serif;
    color: #2e2f42;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.section {
    padding: 120px 0;
}
.section-hero {
    background-color: #2e2f42;
}
.nav-list {
    display: flex;
    align-items: center;
    color: #2e2f42;
    gap: 40px;
}

.nav-item.carrent::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    
} 
.nav-link {
    display: block;
    padding: 24px 0;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.nav-link.carrent {
    position: relative;
}
.nav-link.carrent::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: #404BBF;
    border-radius: 2px;
}
.nav-item {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}   
.contacts {
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
    margin-left: auto;
}
.contacts-list {
    gap:40px;
    display: flex;
    align-items: center;
}
.contacts-link {
    display: block;
    padding: 24px 0;
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    gap: 40px;
}

.section-hero {
    margin: 0;
    padding: 188px 0;
    background-image: url(../images/people-office.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    background: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
} 
.section-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
    color: #ffffff; 
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    width: 496px;
    text-align: center;
    margin: 0;
    padding: 0;
    
}
.btn-primary {
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    font-family: inherit;
    color: #ffffff;
    background-color: #4d5ae5;
    cursor: pointer;
    padding: 16px 32px;
    margin-top: 48px;
    border: none;
}
.btn-primary:hover,
.btn-primary:focus {
    background-color: #404bbf;
     transition-duration: 250ms;
    transition-timing-function: ccubic-bezier(0.4, 0, 0.2, 1);
}
h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin: 0;
    padding: 0;
}
.team-section {
   background-color: #f4f4fd; 
   text-align: center;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.hero-container {
    width: calc((100% - 72) / 4); 
}
.text-hero {
   margin: 0 auto;
}
.hero-item {
   width: 264px;
}
.hero-list {
     display: flex;
     column-gap: 24px;
     justify-content: center;
}
.hero-svg {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background-color: #f4f4fd;
    padding-bottom: 8px;
}
h3 {
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin: 0;
    padding: 0;
}
.hero-text {
    padding-bottom: 8px;
    width: 264px;
    height: 24px;
}
p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin: 0;
    padding: 0;
}
.team-text {
    padding-bottom: 72px;
}
.team-list {
    display: flex;
    justify-content: center;
    column-gap: 24px;
    margin: 0;
}
.team-item {
    background-color: #ffffff;
    border-radius: 0 0 4px 4px;
}
.name-post {
    background-color: #ffffff;
    display: flex;
    margin: 0 auto;
    padding: 32px 16px;
    align-items:normal;
    flex-direction: column;
    row-gap: 8px;
    border-radius: 0 0 4px 4px;
}
.team-social-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.team-social {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
}
.text-portfolio {
    padding-bottom: 72px;
    text-align: center;
}
.portfolio-item {
    position: relative;
    overflow: hidden;
}
.portfolio-item-overlay {
    background-color: #4d5ae5;
    width: 360px;
    height: 300px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 40px 32px 164px;
    transform: translateY(140%);
    transition: transform 300ms ease-in-out;
}
.portfolio-item:hover .portfolio-item-overlay {
    transform: translateY(0);
     transition-duration: 250ms;
    transition-timing-function: ccubic-bezier(0.4, 0, 0.2, 1);
}
.text-overlay {
    color:#ffffff;
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap; 
    row-gap: 48px;
    column-gap: 24px;
}
.portfolio-name {
    border: 1px solid #E7E9FC;
    padding: 32px 16px;
    height: 120px;
    border-top: none;
}
img {
    display: block;
}
.portfolio-text {
    padding-bottom:8px;
}
.main-footer {
    position: relative;
    background-color: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}
.footer-container {
    display: flex;
    flex-direction: column;
    align-items: start
}
.text-footer {
    padding-top: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;  
    color: #f4f4fd;
    width: 264px;
}
.footer-logo {
    color: #f4f4fd;
    margin-bottom: 16px;
}
.footer-text {
    color: #ffffff;
    padding-bottom: 16px;
}
.footer-link {
    position: absolute;
    top: 100px;
    left: 540px;  
    width: 208px;
    height: 80px;
}
.footer-social {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4d5ae5;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.footer-social-link {
   position: relative;
   display: flex;
   justify-content: space-between;
}

